<div class="rewiews">
    <textarea type="text" placeholder="Leave a message" class="rewiews__box"></textarea>
</div>


<div class="contacts">
    <div class="contacts__box" [style.margin-right.px] = "330"> 
        <h1> Pizza Gusto</h1>
        <p>{{ contactInfo }}</p>
        <a href="#"><button type="submit">+250 780102030</button></a>
    </div>
    
    <div class="contacts__box" [style.margin-right.px] = "140">
        <h1> Address </h1>
        <h2>KK  134 ST ,   KGL Rwanda </h2>
        <p>{{ addressInfo }}</p>
        <a href="#"><button type="submit">1300</button></a>   
    </div>

    
</div>









