<div class="wrapper">
    <div class="message"><h1>get in touch</h1></div>
    <div class="contacts">
        <div class="contacts__Info">
            <div class="contacts__box">
                <div class="phone"><img [src]="imgPhone" class="img2"></div>
                <h1>Phone</h1>
                <h2>KK  134 ST, KGL Rwanda</h2>
                <p>(212)-759-7358</p>
                <h2>127 East 58th Street</h2>
                <p>(212) 734-1717</p>
                <p>(212)-289-0908</p>
                <p>(212)-534-2930</p>
            </div> 
            <div class="contacts__box">
                <div class="location"><img [src] = "imgLocation" class="img1"></div>
                
                <h1>Address</h1>
                <h2>KK  134 ST, KGL Rwanda</h2>
                <p>New York, NY 10035</p>
                <h2>18 West 53rd Street</h2>
                <p>New York, NY 10019</p>
                <h2>127 East 58th Street</h2>
                <p>New York, NY 10022 New York, NY 10065</p>
                <h2>328 East 67th Street</h2>
                <p> New York, NY 10065</p>
                    
                       
            </div>
            <div class="contacts__box">
                <div class="mail"><img [src] = "imgMail" class="img3"></div>
                <h1>Email</h1>
                <p>lindsay@reqres.in</p>
                <p>lindsay@reqres.in</p>
                <p>lindsay@reqres.in</p>
                <p>lindsay@reqres.in</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>PIZZA GUSTO | One & only PG  &copy; 2021 , All rights reserved </p>
    </div>
</div>
















