
.about-title {
	margin-left: 5%;
    margin-top: 7%;
    

    @media (max-width: 677px) {
        margin-top: 12%;      
    } 

    @media (max-width: 576px) {
        margin-top: 15%;      
    }
    
    .title {
        font-size: 30px;
        @media (max-width: 1400px) {
            font-size: 25px;        
        } 
        @media (max-width: 768px) {
            font-size: 20px;  
            padding-top: 5%;      
        } 
    }  
}
  
.Box {
    padding: 0 10% 0 5%;
    overflow: auto;

    &__first {
       position: relative;
        display: flex;
        
        
        .img1 {
            position: relative;
            width: 280px;
            height: 280px;
            max-width: 100%;
        } 
        .img2 {
            position: absolute;
            z-index: 1;
            top: 40px;
            left: 40px;
            width: 220px;
            height: 220px;
            max-width: 100%;
        }
        &:before {
            content:'';
            width: 20px;
            height: 200px;
            border-radius: 12px;
            background-color: #FFBE41;
            position: absolute;
            margin-left: -3%;
            bottom: 20%;
        }
    }
   
    &__second {
        position: relative;
        display: flex;
        max-height: 370px;
        
        .img3 {
            position: relative;
            width: 280px;
            height: 280px;
            max-width: 100%;    
        } 
    
        .img4 {
            position: absolute;
            width: 220px;
            height: 220px;
            max-width: 100%;
            z-index: 1;
            right: 15px;
            top: 40px;    
        }

        &:after {
            content:'';
            width: 20px;
            height: 200px;
            border-radius: 12px;
            background-color: #FFBE41;
            position: absolute;
            right: -5%;
            bottom: 20%;
        }
    }
}

p {
    margin: 0;
    padding: 5%;
    font-size: 16px;
    color: #333333;

    @media (max-width: 768px) {
        font-size: 14px;        
    }
}

@media (max-width: 1200px) {

    .img1, .img2, .img3, .img4 {
        display: none;
        
    } 
}

@media (max-width: 576px) {
    .Box__first::before, .Box__second::after {
        display: none;
    }
}
    

    











         
    








