
.Services {
	margin-top: 10%;
    margin-left: 5%;
	
	position: relative;

	@media (max-width: 1440px) {
		margin-top: 12%;	
	}

	p {
		margin: 0;

		@media (max-width: 1440px) {
			font-size: 36px;
		}
		@media (max-width: 1024px) {
			font-size: 30px;
		}
		@media (max-width: 769px) {
			display: none;	
		}
    }

	&:after {
		content: '';
	    width: 200px;
	    height: 25px;
	    background: #FFBE41;
        border-radius: 12px;
        position: absolute;
        bottom: -60px;
        left: 90px;

		@media (max-width: 1200px) {
			height: 20px;	
		}

		@media (max-width: 1024px) {
			bottom: -30px;
			width: 150px;
			height: 15px;	
		}

		@media (max-width: 992px) {
			display: none;	
		}
	} 
	    
	
	img {
		position: absolute;
		left: 150px;
		top: -50px;	
		width: 320px;

		@media (max-width: 1440px) {
			width: 300px;	
		}

		@media (max-width: 1200px) {
			width: 280px;	
		}



		@media (max-width: 1024px) {
			display: none;
		}	
	}
}

.Cards {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 7%;
    
	&__items {
		display: flex;
	    width: 100%;

		@media (max-width: 1440px) {
			display: block;	
		}

		@media (max-width: 769px) {
			margin-top: 20%;	
		}

		@media (max-width: 576px) {
			margin-top: 25%;	
		}
	}
	
	&__item  {
		border: 1px solid #550312;
		border-radius: 20px;
		text-align: center;
		width: 35%;
		padding: 4%;
		margin: 2% 0 ;

		@media (max-width: 1440px) {
			width: 100%;
		}

		img { 
			width: 100px;
			max-width: 100%;
			margin:0;

			@media (max-width: 1024px) {
				width: 80px;
			}
		}

		h1 {
			font-weight: 500;
			font-size: 38px;
			line-height: 50px;
			color: #550312;
			padding: 25px 0;
			margin: 0;

			@media (max-width: 1024px) {
				font-size: 24px;
			}	 
		}

		p {
			
			font-size: 24px;
			line-height: 36px;
			color: #333333;
			padding: 0;
			margin: 0;

			@media (max-width: 769px) {
				font-size: 18px;
			}
		}	
   }

	   &__magnified {
		width: 60%;
		padding: 7%;
		margin: 0 100px;

		@media (max-width: 1440px) {
			margin: 0;
			width: 100%;
			
		}
	}      
}