
<div class="Home-page">
  <div class="Section__one">
    <div class="Section">
      <div class="Section__intro">
        
        <div class="Section__body">
          <h1 class="title"> {{title}} </h1>
          <h2> {{subtitle}} </h2>
          <p class="text"> {{text}} </p>
          <span class="showMore">{{textMore}}</span> 
          
          <button *ngIf="isVisible" (click)="showHide()" class="showClick"> hide △ </button>
          <button *ngIf="!isVisible" (click)="showHide()" class="showClick">show more info ▽</button>

          <ng-container *ngIf="isVisible">
            <p class="showText"> {{text}}</p>
          </ng-container>

        </div>
        <div>
          <a href="#"><button class="orderBtn" type="submit">order now</button></a>  
        </div>
        <img class="img1" [src] = "imgPizza">
        <img class="img2" [src] = "imgEllipse">
      </div>
    </div> 
  </div>

  <div class="Section__two">
      <img [src]="imgClock">
      <div class="Section__List">
        <ul>
          <li *ngFor="let item of items">
              <span>{{item.days}}</span> 
              <span>{{item.hours}}</span>
          </li>
        </ul>
      </div>
  </div>

</div>

<app-social></app-social>










