<div class="nav">
    <nav class="nav__top">
        <ul class="nav__menu">
           <li><a routerLink="/home">Home</a></li>
           <li><a routerLink="/about">About us</a></li>
           <li><a routerLink="/services">Services</a></li>
           <li><img [src]="imgLogo" [style.margin-top.px]="20"></li>
           <li><a routerLink="/menu">Menu</a></li>
           <li><a routerLink="/reviews">Reviews</a></li>
           <li><a routerLink="/contacts">Contacts</a></li>
        </ul>
    </nav>
</div>
