
<header class="header">
    <div class="header__body">

        <div class="header__burger" id="burger" (click)="toggleMobileMenu()">
            <span></span>
        </div>

        <div>
            <img [src]="imgLogo">
        </div>

        <nav class="header__menu" id="menu" (click)="closeMobileMenu()">
            <ul class="header__list">
                
                <li>
                    <a routerLink="" routerLinkActive="nav__active" [routerLinkActiveOptions]="{ exact:true }">Home</a>
                </li>
                <li>
                    <a routerLink="/about" routerLinkActive="nav__active">About us</a>
                </li>
                <li>
                    <a routerLink="/services" routerLinkActive="nav__active">Services</a>
                </li>
                <li>
                    <a routerLink="/menu" routerLinkActive="nav__active" >Menu</a> 
                </li>
                <li>
                    <a routerLink="/reviews" routerLinkActive="nav__active">Reviews</a>
                </li>
                <li>
                    <a routerLink="/contacts" routerLinkActive="nav__active">Contacts</a>
                </li>
            </ul>
        </nav>

    </div>
</header>