
.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10; 
    
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #faf6e1;    
    }
    
    &__body {
        position: relative;
        padding: 20px 40px;
        z-index: 9;
        display: flex;
        justify-content: space-between;
    }

    &__burger {
        display: none;
    }

    img {
        width: 300px;
        padding-top: 10px;

        @media (max-width:1440px) {
            width: 210px;   
        }

        @media (max-width:1200px) {
            display: none;   
        }    
    }

    &__menu {
        width: 70%;

        @media (max-width:1200px) {
            width: 100%;    
        }    
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding:0;

        li {
            list-style: none;
        
            a {
                color: #550312;
                text-decoration: none;
                font-size: 35px;

                @media (max-width:1440px) {
                    font-size: 30px;   
                }
                @media (max-width:1024px) {
                    font-size: 24px;    
                }

                &:hover {
                    text-decoration: underline;
                    cursor:pointer;
                } 
            }

            .nav__active {
                color: red;
            }
        }
    }   
}

@media (max-width: 767px) {

    .header__burger {
        display: block;
        left: 90%;
        position: relative;
        width: 30px;
        height: 40px;
        z-index: 12;
  
        &:before,
        &:after {
            content:'';
            background-color: black;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
  
        &:before {
            top: 12px;
        }
  
        &:after {
          bottom: 10px;
        }
        span {
            position: absolute;
            background-color: black;
            left: 0;
            width: 100%;
            height: 2px;
            top: 20px;
            transition: all 0.3s ease 0s;      
        }
  
        &.active:before {
            transform: rotate(45deg);
            top: 18px;
        }
        
        &.active:after {
            transform: rotate(-45deg);
            bottom: 20px;
        }
          
        &.active span {
            transform: scale(0);
        }
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #faf6e1;
        transition: all 0.3s ease 0s;
        padding: 70px;
        overflow: auto;

        
  
        &.active {
            top: 0;
            z-index: 11;
        }

        &.non-active {
            top: 0;
            z-index: 11;
        }



        
    }
    
    .header__list {
        display: block;
  
        li {
            margin-bottom: 20px;    
        }
  
        a {
            font-size: 36px;
        }
    } 
}



    
    



    
    




