


.header {
    position: fixed;
    width: 100%;
    
    top: 0;
    left: 0;
    z-index: 80;
    
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #faf6e1;
        
    }
    
    &__body {
        position: relative;
        padding: 1% 5% 1% 5%;
        z-index: 10;
    
    }
    &__burger {
        display: none;
    }

    

    &__list {
        height: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        
        

        li {
            list-style: none;
           
        
            

            a {
                color: #550312;
                text-decoration: none;
                font-size: 20px;
                
               

                &:hover {
                    text-decoration: underline;
                    cursor:pointer;
                } 
            }

            .nav__active {
                color: red;
            }
            img {
                max-width: 100%;
               
            }
        }
    }
}
@media (max-width: 991px) {
    img {
        width: 150px;
        
    }

   

 
}

@media (max-width: 767px) {
    .header__burger {
      display: block;
      left: 85%;
      position: relative;
      width: 30px;
      height: 40px;
      z-index: 121;

      &:before,
      &:after {
          content:'';
          background-color: black;
          position: absolute;
          width: 100%;
          height: 2px;
          left: 0;
          transition: all 0.3s ease 0s;
      }

      &:before {
          top: 10px;
      }

      &:after {
        bottom: 10px;
    }
        span {
            position: absolute;
            background-color: black;
            left: 0;
            width: 100%;
            height: 2px;
            top: 20px;
            transition: all 0.3s ease 0s;
            
        }

        &.active:before {
            transform: rotate(45deg);
            top: 20px;
        }
        &.active:after {
            transform: rotate(-45deg);
            bottom: 20px;
        }
        &.active span {
            transform: scale(0);
        }
    }

    

    .header__menu {
     

       position: fixed;
       top: -100%;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: #faf6e1;
       transition: all 0.3s ease 0s;
       padding: 40px 10px 20px 10px;
       overflow: auto;

        &.active {
            top: 0;
            z-index: 100;
        }
    }

    .header__list {
        display: block;

        li {
            margin-bottom: 20px;
            
        }

        a {
            font-size: 24px;
        }
    }


   
}

