.wrapper {
    position: fixed;
    width: 40%;
    right: 5%;
    bottom: 5%;
        
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-left: 0;
        margin: 0;

            @media (max-width:1024px) {
                display: inline;  
                position: fixed;
                top: 20%;
                right: 5%;
            }

            img {
                width: 60px;
                @media (max-width:1024px) {
                    width: 50px;    
                }    
            }
            
            li {
                @media (max-width:1024px) {
                    padding-top:40%;
                    margin-top: 30%;    
                }
            }
            
            li:hover {	
                filter: invert(0.7) sepia(3);  
                cursor: pointer; 
            }
        }
    }

    


