
.social {
    width: 30%;
    position: fixed;
    bottom: 3%;
    margin-right: 10%;
	margin-left: 55%;

     
    
        ul {
            list-style: none;
            padding-left: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
       
            li:hover {	
                filter: invert(0.7) sepia(3);  
                cursor: pointer; 
            }
        }
    
        
}