* { 
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
    height: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    background-color: #FFFDF1;
    margin: 0;
	height: 100%;
}


.title {
    font-weight: 600;
    font-size: 43px;
    line-height: 64px;
    color: #550312;
    
}











